.auth_page {
  display: flex;
  width: 40vw;
  flex-flow: column nowrap;
  align-items: center;
  gap: 10vh;

  .form_container {
    &__controls {
      display: flex;
      width: 100%;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        padding: 8px 0;
        cursor: pointer;
        transition: .1s;
        background-color: transparent;
        font-size: 20px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.4);
        }

        &.active {
          background-color: rgba(0, 0, 0, 0.5) !important;
        }
      }
    }
  }
}