@import "../variables";

.create_chat {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: fit-content;
  padding-top: 24px;
  width: 40% !important;

  h1 {
    margin-top: 24px;
    font-size: 40px;
  }

  .switch_container {
    margin-bottom: 8px;
  }
}