@import "../variables";

.button {
  height: fit-content;
  border-radius: 50px;
  font-weight: 600;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
}

.buttonDefault {
  width: 300px;
  padding: 8px 6px;
  font-size: 28px;
  background: $green;
  border: 2px solid $white;
}

.buttonWarning {
  width: 150px;
  padding: 8px 6px;
  font-size: 24px;
  background: rgba(255, 0, 0, 0.7);
}