@import "../variables";

.scrollable {
  overflow-y: scroll !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.scrollable::-webkit-scrollbar {
  width: 7px;
  border-radius: 24px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: $white;
  border-radius: 24px;
}