//$gradient: linear-gradient(287.56deg, rgba(88, 254, 115, 0.52) 0%, rgba(229, 255, 124, 0.72) 100%);
$gradient: linear-gradient(0deg, #58FE73 0%, rgba(107, 254, 116, 0.7) 70.31%, rgba(229, 255, 124, 0.50) 100%);
$gradient-back: linear-gradient(107.56deg, rgba(88, 254, 115, 0.52) 0%, rgba(229, 255, 124, 0.50) 100%);
$white: #FFFFFF;
$yellow: #E5FF7C;
$green: #58FE73;
$gray: rgba(0, 0, 0, 0.2);